

    <!-- SIDEBAR
    ============================== -->


    <!-- WRAPPER
    ============================== -->


      <!-- NAVBAR
      ============================== -->
      


      <!-- HERO
      ============================== -->
      <div class="hero hero_agency" id="home">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">

              <!-- Hero heading -->
              <h1 class="heading hero__heading animated fadeInUp">Tumblebit Wallet Demo</h1>

              <!-- Hero subheading -->
              
                <p class="heading__sub hero-heading__sub animated fadeInUp delay_1">Use at your own risk.</p>

              <!-- Hero buttons -->
			<!--<a href="<%= new_payment_request_path %>" class="hero__btn btn btn-lg btn-primary animated fadeInUp delay_2">Create your Payment Request</a>-->

            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </div> <!-- / .hero -->

    
      <div class="section" id="about">

        <!-- ABOUT
        ============================== -->
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h4 class="heading">About tumblebit.network</h4>
              <p class="heading__sub">
                tumblebit.network is a Tumblebit-compatible hosted wallet, mixing together the transfer of one bitcoin from each of n distinct payers (Alice) to n distinct payees (Bob). TumbleBit is run with the payment phase shrunk to 30 seconds, so the protocol runs in epochs that require two blocks added to the blockchain. tumble.band provides k-anonymity within an epoch: no one, not even the Tumbler, can link one of the k transfers that were successfully completed during the epoch to a specific pair of payer and payee (Alice, Bob).
              </p>
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->


        <!-- FEATURES
        ============================== -->
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="features__item wow fadeIn">
                <div class="features-item__icon">
                  <span class="fa fa-envelope-o"></span>
                </div>
                <div class="features-item__body">
                  <div class="features-item-body__title">
                    No Coordination
                  </div>
                  <div class="features-item-body__summary">
                    If Alice wants to pay Bob, she need not interact with any other TumbleBit users. Instead, Alice and Bob need only interact with the Tumblebit server and each other.
                  </div>
                </div> <!-- / .features-item__body -->
              </div> <!-- / .features__item -->
            </div>
            <div class="col-sm-4">
              <div class="features__item wow fadeIn">
                <div class="features-item__icon">
                  <span class="fa fa-bitcoin"></span>
                </div>
                <div class="features-item__body">
                  <div class="features-item-body__title">
                    Bitcoin Compatibility
                  </div>
                  <div class="features-item-body__summary">
                    TumbleBit is fully compatible with the Bitcoin protocol. Bitcoin scripts are used to validate the preimage of a hash and to validate an ECDSA signature on a Bitcoin transaction.
                  </div>
                </div> <!-- / .features-item__body -->
              </div> <!-- / .features__item -->
            </div>
            
            <div class="col-sm-4">
              <div class="features__item wow fadeIn">
                <div class="features-item__icon">
                  <span class="fa fa-hourglass-half"></span>
                </div>
                <div class="features-item__body">
                  <div class="features-item-body__title">
                    Performance 
                  </div>
                  <div class="features-item-body__summary">
                    Performance is limited only by the time it takes for two blocks to be confirmed on the blockchain and the time it takes for transactions to be confirmed; this takes approximately 20 minutes. Meanwhile, off-blockchain payments can complete in seconds.
                  </div>
                </div> <!-- / .features-item__body -->
              </div> <!-- / .features__item -->
            </div>
            
            
          </div> <!-- / .row -->
        </div> <!-- / .container -->

      </div> <!-- / .section -->

      <div class="section">
        <div class="container">
          <div class="row"> 
            <div class="row-same-height">
              <div class="col-sm-5 col-sm-height col-middle">
                <h4 class="heading heading_left">Tumblebit Protocol Overview</h4>
                <p class="heading__sub">
                  TumbleBit replaces on-blockchain payments with off-blockchain RSA-puzzle solving, where Alice pays Bob by providing Bob with the solution to a blinded RSA-puzzle. The puzzle z is generated through interaction between Bob and Tumbler (the Tumblebit server) , and solved through an interaction between Alice and Tumbler . Each time a puzzle is solved, 1 bitcoin is transferred from Alice to the Tumbler and finally on to Bob.
                </p>
              </div>
              <div class="col-sm-7 col-sm-height col-middle">
				<%= image_tag "tumblebit_overview.png", class: "img-responsive" %>
              </div>
            </div> <!-- / .row-same-height -->
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </div> <!-- / .section -->


      <!-- DOWNLOAD
      ============================== -->
      <div class="section section_alt section_download" id="download">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
              <h4 class="heading">Tumblebit: An Untrusted Bitcoin-Compatible Anonymous Payment Protocol</h4>
              <p class="heading__sub">
                This paper, authored by Ethan Heilman, Leen AlShenibr, Foteini Baldimtsi, Alessandra Scafuro and Sharon Goldberg, presents TumbleBit, a new uni- directional unlinkable payment protocol that is fully com- patible with today’s Bitcoin protocol. TumbleBit allows parties to make fast, anonymous, off-blockchain payments through an untrusted intermediary called the Tumbler: no one, not even the Tumbler, can link a payment from its payer to its payee. Every payment made via TumbleBit is backed by bitcoins, and comes with a guarantee that Tumbler can neither violate anonymity, nor steal bitcoins, nor “print money” by issuing payments to itself.
              </p>
              <a href="<%= products_path('tumblebitpaper.pdf') %>" class="btn btn-lg btn-primary heading__btn wow fadeInUp" >Download White Paper</a>
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </div> <!-- / .section -->


      <!-- PRICING
      ============================== -->

      <!-- TEAM
      ============================== -->


      <!-- SKILLS
      ============================== -->


      <!-- TESTIMONIALS
      ============================== -->


      <!-- SUBSCRIBE
      ============================== -->


      <!-- CONTACT US
      ============================== -->


      <!-- FOOTER
      ============================== -->

