<div class="container">
  <div class="row">
	<h3>Script # <%= @script.id if @script %></h3>
	<p>Title: <%= @script.title if @script.title %></p>
	<p>Text: <%= @script.text if @script %></p>
   </div>
</div>

