<div class="container">
  <div class="row">
    <h3>Contracts</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @scripts.each do |script| %>
            <tr>
              <%= render script %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>