<div class="container">
  <div class="row">
	<% if @script.signed_tx %>
	<p>Copy the signed transaction below then paste it to <a href="https://coinb.in/#broadcast" target="blank">coinb.in</a> or use Bitcoin Core sendrawtransaction command.</p>
		<p>Raw Signed Transaction:<pre style="width:600px"><code><%= @script.signed_tx %></code></pre></p>
	<% end %>
	</div>
</div>