<div class="container">
  <div class="row">
	<h3>User</h3>
	<p>Name: <%= @user.name if @user.name %></p>
	<p>Email: <%= @user.email if @user.email %></p>
	<p>Admin?: <%= user_admin? %></p>
  </div>
</div>