<div class="container">
  <div class="row">
    <h3>Registrations</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @clients.each do |client| %>
            <tr>
              <%= render client %>
            </tr>
          <% end %>
        </tbody>
      </table>

	<table>
	  <thead>
	    <tr>
	      <th colspan="3"></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @clients.each do |client| %>
	      <tr>
	        <td><%= link_to 'Show', client %> |</td>
	        <td><%= link_to 'Edit', edit_client_path(client) %> |</td>
	        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>

    </div>
  </div>
</div>
