<div class="container">
  <div class="row">
    <h3>Registrations</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @clients.each do |client| %>
            <tr>
              <%= render client %>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
