<div class="container">
  <div class="row">
    <h3>Trees</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @trees.each do |tree| %>
            <tr>
              <%= render tree %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>