<%- model_class = Tree -%>
<div style="padding-left: 20px" >
<% if user_signed_in? %>
<h3>Upload a new account list</h3>

<%= render 'form' %>
<% else %>
<h3>To upload a new account list, you must <%= link_to 'sign in', signin_path %> first with your Twitter account.</h3></br>
<% end %>
</div>