<div class="container">
	<div class="row">

	<% content_for :title do %>About<% end %>
	<!-- Posts are created in db/seeds.rb -->
	<% @post = Post.find_by_title("About") %>

	<%= markdown(@post.body) %>
	</br>
	<% @post = Post.find_by_title("Getting started") %>

	<%= markdown(@post.body) %>
	</br>
	</br>
	<% @post = Post.find_by_title("License") %>

	<%= markdown(@post.body) %>
	
	</div>
</div>
