<% content_for :title do %>About<% end %>
<!-- Posts are created in db/seeds.rb -->
<% @post = Post.find_by_title("About") %>
<div style="padding-left: 20px" >
<%= markdown(@post.body) %></div>

<% @post = Post.find_by_title("Getting started") %>
<div style="padding-left: 20px" >
<%= markdown(@post.body) %>

<% @post = Post.find_by_title("License") %>
<div style="padding-left: 20px" >
<%= markdown(@post.body) %></div>
