<% content_for :title do %>About<% end %>
<!-- Posts are created in db/seeds.rb -->
<% @post = Post.find_by_title("About") %>
<%= markdown(@post.body) %>
<% @tree= Tree.first %>
<p>Checkout this example: visit <%= link_to 'this tree', tree_path(@tree) %> with the access key <%= @tree.leaf_nodes.last.nonce.to_s %></p>
