<div class="container">
	<div class="row">
	<% content_for :title do %>EQUALVERIFY<% end %>
	<!-- Posts are created in db/seeds.rb -->
	<% @post = Post.find_by_title("EQUALVERIFY") %>
	<%= markdown(@post.body) %>
	</br>
	</div>
</div>
