<div style="padding-left: 20px" >
<div>
	  <% flash.each do |key, value| %>

	        <%= value %>

	  <% end %>
</div>
</br>
	<a class="btn btn-default btn-xs btn-success" href=<%= "#{trees_path}" %> style="background-color:gainsboro;color:black;" >Back to trees</a></br>
</div>