<div class="container">
  <div class="row">
    <h3>Leaf nodes</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @leaf_nodes.each do |leaf| %>
            <tr>
              <%= render leaf %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>