<td><%= puzzle.escrow_txid %></td>

<% if user_admin? %>
<td><%= link_to "Edit", edit_puzzle_path(puzzle), :class => 'btn btn-xs btn-success' %></td>
<td><%= link_to "Delete", puzzle_path(puzzle), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-xs btn-danger' %></td>
<% end %>