<td><%= link_to truncated(puzzle.y), puzzle_path(puzzle) %></td>
<td><%=link_to "Bob prepares transactions", bob_step_2_puzzle_path(puzzle), :class => "btn btn-primary" %></td>
<td><%= puzzle.expiry_date %></td>
<% if user_admin? %>
<% end %>