<div class="container">
  <div class="row">
	<h3>Tumblebit Puzzle # <%= @puzzle.id %></h3>
	
	<p>Success ! Solution sent by Alice has been processed successfully: you (Bob) can post the transaction paying you using sigma value below</p>
	<pre style="width:600px"><code><%=  @sigma %></code></pre>
	
	</div>
</div>
