<%- model_class = Script -%>
<div style="padding-left: 20px" >
<% if user_signed_in? or client_signed_in? %>
<h3>Create 84 fake/real Transactions</h3>


<%= render 'form' %>
<% else %>
<h3>To create a new contract, you must <%= link_to 'sign in', new_client_session_path %> first.</h3></br>
<% end %>
</div>
